<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="listeners.ExtentIReporterListener"/>
    </listeners>
    <test name="Dynamic Testng">
        <classes>
            <class name="testClasses.LoginTest"></class>
        </classes>
    </test>
</suite>